/* stijl.css - labo 3, kleuren (reset.css is linked before this file) */

/* === tokens === */
:root {
 --tomaat-color : #FF6347;
 --orangered-color :#FF4500;
 --coral-color:#FF7F50;
 --lightsalmon-color:#FFA07A;
 --darkorange-color:#FF8C00;
}

/* === your rules === */
body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1rem;
    color: white;
    text-align: center;
}
li{
    height: 40vh;
    list-style: none;
    padding-top: 15vh;
}
ul{
    margin: 0;
    padding: 0;
}
.tomato{
    background-color: var(--tomaat-color);
}

.orangered{
    background-color: var(--orangered-color);
}

.coral{
    background-color: var(--coral-color);
}
.lightsalmon{
    background-color: var(--lightsalmon-color);
}

.darkorange{
    background-color: var(--darkorange-color);
}
h2{
    margin-bottom: 1rem;
}
span{
    margin-left: 1rem;
}